<h2>Movies Index</h2>

<ul>
  {{! The object passed from the controller contains the key 'movies' which is an array }}
  {{! We iterate over this array by using the #each from handlebars and 'this' to access each element's properties }}
  {{#each movies}}
    <li>
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
    </li>
  {{/each}}
</ul>

{{! link to /movies/new triggers a get request at that url }}
<a href="/movies/new">Add a movie</a>